<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0">

	<display-name>webby-todo</display-name>

	<!-- Tomcat default servlet for static files -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>

	<!-- webby servlet for webby-todo App -->
	<servlet>
		<servlet-name>webby-todo</servlet-name>
		<servlet-class>org.webby.WebbyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>appClass</param-name>
			<param-value>org.webby.todo.TodoApp</param-value>
		</init-param>
		<multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>10485760</max-request-size>
			<file-size-threshold>2097152</file-size-threshold>
		</multipart-config>
	</servlet>	  
	<servlet-mapping>
		<servlet-name>webby-todo</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- configure slf4j simpleLogger -->
	<context-param>
		<param-name>org.slf4j.simpleLogger.logFile</param-name>
		<param-value>System.out</param-value>
	</context-param>
	<context-param>
		<param-name>org.slf4j.simpleLogger.defaultLogLevel</param-name>
		<param-value>debug</param-value>
	</context-param>

</web-app>